@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.cardsList {
  background-color: rgba(238, 12, 12, 0.082);
  min-height: 100px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding-top: 30px;
  justify-content: center;
}

/* transition properties */

.main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  width: 100vw;
}

.user {
  border: 2px solid rgb(250, 2, 2);
  border-radius: 10px;
  /* background-color: #b3e3ff; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  min-width: 450px;
  min-height: 400px;

}

.galery-img {

  min-width: 400px;
  min-height: 400px;
  transition: transform ease-in-out 0.3s;
  padding-top: 60px;
}

.galery-img:hover {
  transform: scale(1.2);
}


.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  font-weight: bold;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #000003;
  color: #000200;
  cursor: pointer;
}

.paginationBttns a:hover {
   color: rgb(235, 5, 5); 
   background-color: #13d675;
}

.paginationActive a {
  background-color: #00000398;
  color: white;
}

.paginationDisabled a {
  color: grey;
  /* background-color: rgb(248, 16, 16); */
}


.galeryBody {
  /* background-color: rgb(17, 0, 255); */
  min-height: 500px;
  margin-top: 30px;
}


.showButton .btn {
  background-image: linear-gradient(45deg, rgb(10, 10, 10) 0 50%, rgba(65, 16, 241, 0.829) 50% 800%);
  width: 100%;
  color: rgb(248, 248, 250);
  /* border: 10px solid rgb(252, 16, 16); */
  margin-top: 40px;
  font-size: 2em;
  z-index: 999;
  
}


.showButton .btn:hover {
  color: rgb(253, 247, 247);

}


@media only screen and (max-width:1000px) {
  .main {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    width: 100vw;
  }

  .user {
    border: 2px solid black;
    border-radius: 10px;
    /* background-color: #b3e3ff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    min-width: 300px;
  
  }
  .galery-img {

    min-width: 250px;
    min-height: 300px;
    transition: transform ease-in-out 0.3s;
    padding-top: 60px;
  }
  
  .galery-img:hover {
    transform: scale(1.2);
  }
  
}


.showB img {
  height: 2.5em;
  margin-top: -80px;
  color: rgb(243, 240, 240);
  width: 60px;
}


/* https://stackoverflow.com/questions/37706383/go-to-a-specific-location-on-web-page-when-clicking-a-button */

.gifphotos {
  margin-left: auto;
  margin-right: auto;
  height: 55px;
  font-size: 45px;
  width: 30px;
  /* border: 1px solid black; */
  /* background-color: #191bb4; */
}

.gif {
  display: flex;
  margin-right: 200px;

}

.galery-h1 {
  font-family: 'Orbitron', sans-serif;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}

.video-item {
  width: 100%;
  height: 100%;
}