.cardsList {
  background-color: rgba(230, 41, 41, 0.521);
  min-height: 100px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding-top: 30px;
  justify-content: center;
}

/* transition properties */

.main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  width: 100vw;
}

.user {
  border: 2px solid black;
  border-radius: 10px;
  /* background-color: #b3e3ff; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  min-width: 450px;
  min-height: 400px;

}

.galery-img {

  min-width: 400px;
  min-height: 400px;
  transition: transform ease-in-out 0.3s;
  padding-top: 60px;
}

.galery-img:hover {
  transform: scale(1.2);
}


.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #5dbe1c;
  color: #3eeb1c;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #191bb4;
}

.paginationActive a {
  color: white;
  background-color: #4ae945;
}

.paginationDisabled a {
  color: grey;
  background-color: rgb(167, 17, 17);
}


.galeryBody {
  /* background-color: rgb(17, 0, 255); */
  min-height: 500px;
  margin-top: 30px;
}


.showButton .btn {
  background-color: #79d460;
  width: 100%;
}

@media only screen and (max-width:1000px) {
  .main {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    width: 100vw;
  }

  .user {
    border: 2px solid black;
    border-radius: 10px;
    /* background-color: #b3e3ff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    min-width: 300px;
    m-height: 300px;
  
  }
  .galery-img {

    min-width: 250px;
    min-height: 300px;
    transition: transform ease-in-out 0.3s;
    padding-top: 60px;
  }
  
  .galery-img:hover {
    transform: scale(1.2);
  }
  
}

.showB img {
  height: 2em;
  margin-top: -65px;
  color: black;
}


/* https://stackoverflow.com/questions/37706383/go-to-a-specific-location-on-web-page-when-clicking-a-button */

