@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.cards {
  padding: 2rem;
  /* background: #fff; */
  /* background-color: #fafafa; */
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

h1 {
  text-align: center;
}

.cards-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  /* background-color: rgba(245, 241, 241, 0.397); */
}

.cards-wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards-items {
  margin-bottom: 24px;
}

.cards-item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards-item-link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(128, 145, 64, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 30px;
  overflow: hidden;
  text-decoration: none;
  background-color: rgba(33, 31, 151, 0.993);
  height: 31em;
}

.cards-item-pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
  min-height: 400px;
  
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards-item-pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #000508;
  box-sizing: border-box;
}

.cards-item-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.2s linear;
}

.cards-item-img:hover {
  transform: scale(1.1);
}

.cards-item-info {
  max-height: 50px;
}

.cards-item-text {
  color: #f6f7fa;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .content-blog-container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards-item {
    margin-bottom: 2rem;
  }
}



.animate__heartBeat{
  animation-iteration-count: infinite;
  color: rgb(0, 5, 5);
  font-size: 5em;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 2px black;

}