@import url('https://fonts.google.com/specimen/Fjalla+One');
@import url('https://fonts.google.com/specimen/Anton');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



body {
  font-family:'Fjalla One';
  color: blue;
}



@media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
}

h1 {
    font-size: 5em;
    color: rgb(163, 175, 175);
}

.hero-container {
  font-family: 'Fjalla One', sans-serif, Arial, Helvetica, sans-serif;
  margin-top: px;
  max-width: 1024px;
  background-image: linear-gradient(90deg, rgba(7, 1, 0, 0.336), rgba(235, 224, 224, 0.986));
  margin-left: auto;
  margin-right: auto;
  min-height: 800px;
  /* border: 1px solid black; */
  border-radius: 5%;
      display: flex;
  justify-content: center;

}

.container-2 {
  /* border: 1px solid black; */
  margin-left: 30px;
  margin-right: 30px;
  max-width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.img-hero {
  height: 20em;
  width: 20em;
  
}

.lala {
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .img-hero {
    width:10em;
    height:10em;
  }

  .container-2 {
    margin-left: 10px;
    margin-right: 10px;
    width:100%;
  }

  .hero-container h2 {
    display: flex;
    justify-content: center;
  }
}

.hero-container .fas {
  display: flex;

}

.hero-container i  {
  margin-left: 20px;
  font-size: 2em;
  }


.hero-container i p {
margin-left: 20px;
}

.hero-container h2 {
  display: flex;
  justify-content: center;
  
}

h2 {
  
}

.animate__animated {
  animation-iteration-count: 1;
}

.hh1 {
  margin-top: 40px;
  font-size: 4em;
  font-family: 'Orbitron', sans-serif;
    color: black;
}

.beneficies {
  margin-top: 50px;
  margin-bottom: 50px;
}

.h22 {
  margin-top: 40px;
  margin-bottom: 60px;
  color: black;
  font-family: 'Orbitron', sans-serif;
}

.melhor {
  margin-top: 40px;
  margin-bottom: 50px;
}

.p11 {
  color: black;
  font-family: 'Orbitron', sans-serif;
    font-size: 0.9em;

}

.venha {
  color: rgb(47, 0, 255);
  border: 2px solid black;
  border-radius: 25px;
  /* font-family: 'Anton', sans-serif; */
}

.fa-boxing-glove{
  color: red;
}