.navbar {
  margin-top: 0px;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 999;
  
}

img {
    width: 100px;
}

.navbar-container {
  margin-top: 60px;
  display: flex;
  background: linear-gradient(90deg, #181313, #b60303cb, #0f0800);  height: 30px;
  min-height: 100px;
  margin-bottom: 60px;
  position: fixed;
  width: 100%;
  justify-content: space-around;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  /* how much columns shows in navbar */
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  align-items: center;

}
/* 
.nav-item {
  height: 80px;
} */

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  /* padding: 0.5rem 1rem; */
  padding:20px 20px;
  /* height: 100%; */
  font-size: 0.7em;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

.navbar-container ul li {
  margin-right: -20px;
}


/* media query */
@media screen and (max-width: 960px) {
  .navbar-container ul {
    margin-top: 20px;

  }

  .nav-item{
    /* border: 1px solid white; */
    width: 80%;
    justify-content: center;
  }

  .nav-links{
    font-size: 1.5em;   
  }

  .nav-menu {
    display: flex;
    background-color: #f8fcf600;
    flex-direction:column;
    /* here is the secrect to displays the links in collumns */
    width: 100%;
    height: 90vh;
    position: absolute;
    /* se nao tiver position absolute aqui nao funciona, nao sei pq mas n funciona */
    top: 80px;
    left: -100%;
    /* opacity: 1; */
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #0c0a0a;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    margin-top: 20px;
    justify-content: center;
    margin-left: -40px;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: rgb(54, 243, 17);
    margin-left: -40px;
    color: #2f8f17;
    border-radius: 10px;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20%, 0%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

}