body {
  background-color: rgb(2, 10, 10);
}

.carousel-item {
 max-height: 500px;
}

.carousel-control-next {
  display: flex;
  margin-top: 0px;
}

.cards2 {
  justify-content: center;
}

.showButton {
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width:1000px) {
  .menu-icon {
    margin-right: 20px;
  }
}