body {
  background-color: rgb(2, 10, 10);
}

.carousel-item {
 max-height: 500px;
}

.carousel-control-next {
  display: flex;
  margin-top: 0px;
}

.carousel {
  margin-top: 21px;
}

.cards2 {
  justify-content: center;
}

.showButton {
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width:1000px) {
  .menu-icon {
    margin-right: 20px;
  }

  .carousel {
    margin-top: 20px;
  }

  .navbar-logo{
    margin-top: 30px;
  }
}

.map {
  margin-bottom: 30px;
}

.map1 {
  display: flex;
  background-color: aqua;
  justify-content: center;
  margin-top: 100px;
}


.classes {
  margin-top: 20px;
  width: 1024px;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width:1000px) {
  .classes {
    background-color: rgb(1, 1, 15);
    width: 100%;
    margin-left: auto;
    margin-top: auto;
  }

  /* about session */
.about .about-main{
    width: 100%;
    margin-left: auto;
    margin-top: auto;
  }
}

.about-main {
  height: 60em;
  background-color: brown;
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
}