@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  background-color: rgb(2, 10, 10);
}

.carousel-item {
 max-height: 500px;
display: flex;
justify-content: center;
}

.ccaption h3 {
  padding: 10px;
  height: 2em;
  color: rgb(1, 1, 22);
  border: 2px solid rgb(233, 5, 5);
  background-color: white;
  width: 10em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 1px 1px 1px black;
 }
 
 .ccaption p {
  height: 2em;
  color: rgb(249, 249, 252);
  border: 2px solid white;
  background-color: black;
  width: 10em;
  align-items: center;
  margin-left: 620px;
  
 }

 .ccaptionmude h3 {
  height: 3em;
  background-color: black;
  color: rgb(248, 250, 246);
  border: 2px solid white;
  width: 10em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
 }


.carousel-control-next {
  display: flex;
  margin-top: 0px;
}

.carousel {
  margin-top: 21px;
}

.cards2 {
  justify-content: center;
}

.showButton {
  display: flex;
  flex-direction: column;
}

.c.capation {
  font-size: 8em;
  background-color: aqua;
}

@media only screen and (max-width:1000px) {

  .ccaption p {
    display: inline;
    margin-bottom: 10px;
    margin-left: 120px;
    padding: 7px;
  }
  .menu-icon {
    margin-right: 20px;
  }

  .carousel {
    margin-top: 20px;
  }

  .navbar-logo{
    margin-top: 30px;
  }
}

.map {
  margin-top:30px;

}

.map1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 50px;

}


.classes {
  margin-top: 7em;
  min-height: 600px;
  width: 1024px;
  display: flex;
  flex-direction: column;
  background-color: rgb(133, 214, 214);
  margin-right: auto;
  margin-left: auto;
  background-image: url("./images/classesBack.jpg");
  background-size: cover;
  border-radius: 50px;
  opacity: 70%;

}

@media only screen and (max-width:1000px) {
  .classes {
    background-color: rgb(1, 1, 15);
    width: 100%;
    margin-left: auto;
    margin-top: auto;
    margin-top: 100px;
  }

  /* about session */
.about .about-main{
    width: 100%;
    margin-left: auto;
    margin-top: auto;
  }

  .d-block {
    min-height: 400px;
  }
  
}

.about-main {
  height: 60em;
  background-color: rgba(5, 4, 4, 0.89);
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.carousel-img
{
    min-width:100%;
    min-height: 100%;
    object-fit: cover;

}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.d-block {
  max-height: 500px;
}

.carousel {
  margin-top: 29px;
}

.contact {
  margin-top: 28px;
  background-image: linear-gradient(90deg, rgba(7, 1, 0, 0.336), rgba(252, 252, 252, 0.986));
  margin-bottom: -8px;
}

.test1 {
  background-color: rgb(12, 61, 61);
  height: 100px;
  min-width: 800px;
  padding: 40px 40px 40px 40px;
  border-radius: 40px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.clas1 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.clas1 .p1 {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width:1000px) {



  .test1 {
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.aulas {
  font-size: 4em;
  margin-bottom: 0.7em;
}

.h1-c {
  font-size: 3em;
  color: aliceblue;
}

.p1 {
  font-weight: bold;
  color: aliceblue;
  font-size: 2em;
}

.about {
  margin-top: 27px;
  margin-bottom: -8px;
}

.animate__rotateIn{
  animation-iteration-count: infinite;

}

.entre-em {
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
  padding-top: 2em;
  padding-bottom: 0.5em;
  color: black;
}

.entre-em-e {
  font-family: 'Orbitron', sans-serif;
  font-size: 4em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: black;
}

.social-media-e {
  margin-left: auto;
  margin-left: auto;
  font-size: 3em;
}


.about-main {
  background-image: url("./images/crop2.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  /* Font Colour */
  color:white;
  opacity: 0.6;

}

.about-header {
  color: rgb(253, 253, 253);
  text-shadow:  2px 2px #CE5937;
  margin-top: 1.2em;
  font-weight: bolder;
  font-size: 4em;
  opacity: 1;
  z-index: 999;
}

.about-text {
  border: 1px solid black;
  max-width: 80%;
  min-height: 100%;
  padding: 20px 20px;
  background-color: rgba(0, 0, 3, 0.733);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}