body {
  background-color: rgb(2, 10, 10);
}

.carousel-item {
 max-height: 500px;
display: flex;
justify-content: center;
}

.ccaption h3{
  height: 2em;
  color: blue;
  border: 2px solid white;
  width: 10em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
 }
 
 .ccaption p{
  height: 2em;
  color: blue;
  border: 2px solid white;
  width: 10em;
  align-items: center;
  margin-left: 620px;
  
 }

 .ccaptionmude h3 {
  height: 3em;
  color: rgb(108, 231, 25);
  border: 2px solid white;
  width: 10em;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
 }


.carousel-control-next {
  display: flex;
  margin-top: 0px;
}

.carousel {
  margin-top: 21px;
}

.cards2 {
  justify-content: center;
}

.showButton {
  display: flex;
  flex-direction: column;
}

.c.capation {
  font-size: 8em;
  background-color: aqua;
}

@media only screen and (max-width:1000px) {
  .menu-icon {
    margin-right: 20px;
  }

  .carousel {
    margin-top: 20px;
  }

  .navbar-logo{
    margin-top: 30px;
  }
}

.map {
  margin-top:30px;

}

.map1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 50px;

}


.classes {
  margin-top: 20px;
  min-height: 600px;
  width: 1024px;
  display: flex;
  flex-direction: column;
  background-color: rgb(133, 214, 214);
  margin-right: auto;
  margin-left: auto;
  background-image: url("./images/classesBack.jpg");
  background-size: cover;
  border-radius: 50px;
  opacity: 70%;

}

@media only screen and (max-width:1000px) {
  .classes {
    background-color: rgb(1, 1, 15);
    width: 100%;
    margin-left: auto;
    margin-top: auto;
  }

  /* about session */
.about .about-main{
    width: 100%;
    margin-left: auto;
    margin-top: auto;
  }

  .d-block {
    min-height: 400px;
  }
  
}

.about-main {
  height: 60em;
  background-color: brown;
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.carousel-img
{
    min-width:100%;
    min-height: 100%;
    object-fit: cover;

}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.d-block {
  max-height: 500px;
}

.carousel {
  margin-top: 29px;
}

.contact {
  margin-top: 28px;
  background-image: linear-gradient(90deg, rgba(7, 1, 0, 0.336), rgba(252, 252, 252, 0.986));
  margin-bottom: -8px;
}

.test1 {
  background-color: rgb(12, 61, 61);
  height: 100px;
  min-width: 800px;
  padding: 40px 40px 40px 40px;
  border-radius: 40px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.clas1 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.clas1 .p1 {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width:1000px) {

  .test1 {
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.aulas {
  font-size: 4em;
  margin-bottom: 0.7em;
}

.h1-c {
  font-size: 3em;
  color: aliceblue;
}

.p1 {
  font-weight: bold;
  color: aliceblue;
  font-size: 2em;
}

.about {
  margin-top: 27px;
  margin-bottom: -8px;
}